{% extends 'base.html' %}

{% block content %}
<div class="surveys">
    <h4 class="surveys__thank-you">{{ self.thank_you_text }}</h4>
    {% if self.show_results and results %}
    <h1 class="surveys__title">Results</h1>
    {% for question, answers in results.items %}
        <h3 class="surveys__question">{{ question }}</h3>
        {% for answer, count in answers.items %}
          <div class="surveys__answer">
            <span>{{ answer }}</span> {{ count }}
          </div>
        {% endfor %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
